requests
python-dotenv
fastapi
uvicorn
pydantic
starlette==0.46.2
diagrams
mcp==1.7.1
fastapi-mcp==0.3.3
pytest
pytest-cov
pytest-asyncio
pytest-mock
pytest-httpx
pytest-mypy
trio
protobuf
tiktoken
boto3
google-genai==1.14.0
ollama
anthropic
openai
toml
Jinja2
groq
langchain
langchain-community
langchain-chroma
google-adk==0.4.0
